<div id="yearbook-page">
    <!-- panel header -->
    <div class="header">
        <spi-back>
            <spi-button class="info-button">Back</spi-button>
        </spi-back>
        <spi-text> Yearbook Pages </spi-text>
        <spi-button class="info-button">Info</spi-button>
    </div>

    <div class="test-container">
        <select class="page-type-select">
            <option>Yearbook</option>
            <option>Yearbook</option>
            <option>Yearbook</option>
            <option>Yearbook</option>
            <option>Yearbook</option>
            <option>Yearbook</option>
        </select>
    </div>

    <div class="filter-bar">
        <!-- toggle view button -->
        <button class="icon-button"></button>

        <button class="icon-button"></button>
        <button class="icon-button"></button>
        <div class="spacer"></div>

        <!-- refresh button -->
        <button class="icon-button"></button>
    </div>

    <div class="pages-list-header"></div>

    <div class="pages-list">
        <!-- list starst hea-->
        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>

        <div class="list-itemrenderer">
            <!-- page status -->
            <div class="status">
                <div class="status-box"></div>
            </div>
            <!-- edit or add button>-->
            <div class="edit-add"><button>+</button></div>

            <!-- page numbers -->
            <div class="page-numbers">000-999</div>

            <!-- description -->
            <div class="description">
                long text content test long text content test long text content
                test long text content test
            </div>
        </div>
    </div>
</div>
