<div class="button-container">
    <spi-link to="yearbook"><spi-button>Yearbook Pages</spi-button></spi-link>
    <spi-link to="images"><spi-button>Images</spi-button></spi-link>
    <spi-link to="quickcrop"><spi-button>Quick Crop</spi-button></spi-link>
    <spi-link to="designs"><spi-button>Designs</spi-button></spi-link>
    <spi-link to="captions"><spi-button>Caption Perfect</spi-button></spi-link>
    <spi-link to="portraits"><spi-button>Portraits</spi-button></spi-link>
    <spi-link to="preflight"><spi-button>Preflight</spi-button></spi-link>
    <spi-link to="index"><spi-button>Index</spi-button></spi-link>
    <spi-link to="yearbook"><spi-button>Help & Feedback</spi-button></spi-link>
</div>
